.google-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-container {
  margin: 0 auto; 
}



.google-homepage {
  height: 100vh; /* vh == view height */
  width: 100vw; /* vw == view width */
}
.search-container {
  width: 450px;
  height: 35px;
}
.search-bar {
  position: relative;
  width: 100%;
  border: 1.5px solid #9aa0a6;
  border-radius: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}
.search-image-container {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}
input {
  width: 80%;
  margin-left: 36px;
  padding: 4px 2px;
  border: 0;
  outline: 0;
}