.google-homepage {
  position: relative; /* parent element is assigned position relative, as the child will be positioned 'relative' to it. 
  
  if this isn't assigned a value of relative then the positioned absolute child will refer to the top level <body> element */
}
.search-container {
  position: absolute; /* child element is assigned position absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* this line and two lines above are for a centering trick, see more here: https://www.w3schools.com/css/css_align.asp */ 
}




.google-homepage {
  height: 100vh; /* vh == view height */
  width: 100vw; /* vw == view width */
}
.search-container {
  width: 450px;
  height: 35px;
}
.search-bar {
  position: relative;
  width: 100%;
  border: 1.5px solid #9aa0a6;
  border-radius: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}
.search-image-container {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}
input {
  width: 80%;
  margin-left: 36px;
  padding: 4px 2px;
  border: 0;
  outline: 0;
}