.google-homepage {
  height: 100vh;
  width: 100vw;
  
  /*left: 50em nor 50% don't work*/
}
.search-container {
  width: 450px;
  height: 35px; 
  
  /* position: absolute; */
}
.search-bar.flex {
  display: flex;
  justify-content: center;
}
.search-bar {
  position: relative;
  width: 100%;
  border: 1.5px solid #9aa0a6;
  border-radius: 25px;
  height: 100%;
  
}
.search-image-container {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}
input {
  width: 80%;
  margin-left: 36px;
  padding: 4px 2px;
  border: 0;
  outline: 0;
  /* text-align: center doesn't work*/
}